<%-include("partials/header"); -%>

<div class="lower">
  <form action="/index" method="post">
    <label>Torque 50% - 70%<br /></label>
    <input
      type="number"
      autocomplete="off"
      step="1"
      name="torque"
      min="50"
      max="70"
      placeholder="<%=torque%>"
      required
    /><br /><br />
    <label>Altitude 0ft - 10 000ft<br /></label>
    <input
      type="number"
      autocomplete="off"
      name="alt"
      step="1"
      min="0"
      max="10000"
      placeholder="<%=alt%>"
      required
    /><br /><br />
    <label>Temperature -50&#8451; - 30&#8451;<br /></label>
    <input
      type="number"
      autocomplete="off"
      name="deg"
      step="1"
      min="-50"
      max="30"
      placeholder="<%=deg%>"
      required
    /><br /><br />
    <div class="button1">
      <button type="submit">Calculate</button>
      
    </div>
  </form>
  <div class="result">
   
    <p><strong>ITT:</strong> <%=itt%></p>
  </div>
</div>

<%-include("partials/footer"); -%>
