<%-include("partials/header"); -%>

<div class="lower">
  <form action="/index" method="post">
    <label>Torque 50% - 70%<br /></label>
    <input
      type="number"
      pattern="\d*"
      autocomplete="off"
      step="1"
      name="torque"
      min="50"
      max="70"
      value="<%=torque%>"
      required
    /><br /><br />
    <label>Altitude 0ft - 10 000ft<br /></label>
    <input
      type="number"
      pattern="\d*"
      autocomplete="off"
      name="alt"
      step="1"
      min="0"
      max="10000"
      value="<%=alt%>"
      required
    /><br /><br />
    <label>Temperature -50&#8451; - 40&#8451;<br /></label>
    <input
      type="number"
      pattern="\d*"
      autocomplete="off"
      name="deg"
      step="1"
      min="-50"
      max="40"
      value="<%=deg%>"
      required
    /><br /><br />
    <div class="button1">
      <button type="submit">Calculate</button>
    </div>
  </form>
  <div class="result">
    <%if (typeof itt != "number"){%>
    <p style="color: red">
      Invalid parameters: Confirm you have entered the correct values for a
      power check.
    </p>
    <%}else{%>
    <p><strong>ITT:</strong> <%=itt%></p>
    <%}%>
  </div>
  <hr />
  <img src="images/TurbineEngine.jpg" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quisquam
    aliquam quasi nisi repudiandae reiciendis aperiam fugiat suscipit. Sequi
    delectus molestias assumenda ducimus! Magni fugit inventore mollitia quae
    amet sed.
  </p>
</div>

<%-include("partials/footer"); -%>
