<%-include("partials/header"); -%>
    
<div class="result">
    <div class="values">
      <h4>Values:</h4>
      <ul>
    <li>Torque: <%=torque%>%</li>
    <li>Altitude: <%=alt%>ft</li>
    <li>Temperature: <%=deg%>&#8451;</li>
  </ul>
  </div>
  <h3>Result:</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ITT: <%=averageMaxITT%></p>
    <div class="button1">
    <a href="/">Return to Calculator</a>
  </div>
  </div>
    <%-include("partials/footer"); -%>